.container-search {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    /* padding-top: 30px; */
    display: flex;
    align-items: center;
}

.content-search-bar {
    padding: 15px 30px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}


.content-search-bar input[type="text"] {
    border: 2px solid #DBDEE9;
    padding: 10px 15px;
    color: #001340;
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    background-color: #e4e6ed;
    border: none;
    outline: 0;
}

.content-search-bar input::placeholder {
    text-align: center;
    color: #001340;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.5rem);
}


@media (max-width: 1130px) {
    .content-search-bar {
        max-width: 70%;
    }
}

@media (max-width: 992px) {
    .content-search-bar {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .content-search-bar {
        width: 100%;
    }

    .content-search-bar input[type="text"] {
        padding: 20px;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
    }
}


.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-card {
    width: 300px;
    margin: 1rem;
    background: #373b69;
    border-radius: 10px;
    box-shadow: 15px 5px 30px rgba(208, 208, 208, 0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.main-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
    opacity: 1;
    transition: transform .2s;
}

.main-card img:hover {
    transform: scale(1.1);
    z-index: 900;
}

.main-card .movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.movie-info h3 {
    margin: 0;
}


.movie-over {
    display: none;
    background: #373b69;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 100%;
    color: white;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.main-card:hover .movie-over {
    transform: translateY(0%);
}


.tag {
    background-color: #121539;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.tag.green {
    color: rgb(1, 194, 1);
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}

.new-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.new-error p {
    padding: 25px 100px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: clamp(2rem, 2.5vw, 4rem);
}