@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Mise en place  */
html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sideBgColor: #040b14;
  --sectionBgColor:#373b69;;
  --themeColor: "";
  --iconBgColor: "";
  --textColor: "";
  --bgColor: "";

}

.navBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 100%;
  height: 120px;
}

.logo {
  padding: 15px;
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.navBar .nav-links li {
  display: inline-block;
  list-style: none;
  margin: 20px;
  font-size: clamp(1rem, 1.7vw, 1.6rem); 
}

.navBar .nav-links li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navBar .nav-links li a:hover {
  transition: 0.4s;
  color: red;
}


@media screen and (max-width : 900px) {
  
}


/* .link-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.link-overview .bn62 {
  color: #1cc49d;
  background-color: #1b2f31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
}

.link-overview .bn62:hover {
  color:black;
  background-color: #1b2f31;
} */


/* .full {
  background: #2a3961;
}

.full .container {
  max-width: 800px;
}

.fullCard {
  width: 100%;
  height: 90vh;
  background: #445688;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullCard h1 {
  font-size: 70px;
}

 */





@media screen and (max-width :900px) {
  .navBar {
    height: 180px;
  }
  .navBar .nav-links {
    display: flex;
    flex-direction: column;
  }

  .navBar .nav-links li {
    padding-top: 10px;
  }
}